*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book {
    flex: 1 1 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
}

.detail-btn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: auto;
    margin: 10px;
    font-size: larger;
}

.detail-btn:hover{
    background-color: lightcoral;
    color: white;
}